# Ticketing API Server Deployment
# Spring Boot 애플리케이션을 EKS 클러스터에 배포하는 설정 파일
# Deployment : 어떤 이미지를 몇개나 띄울 것인지 결정
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yh-ticketing
  labels:
    app: ticketing
spec:
  replicas: 1 # 고가용성을 위해 2개의 Pod를 유지해야 하나 프리티어이기 때문에 레플리카를 우선 1개로 개발, 추후 2개로 향상시켜야함!
  selector:
    matchLabels:
      app: ticketing # 아래의 템플릿 라벨과 일치해야 관리 대상이 됨
  template:
    metadata:
      labels:
        app: ticketing # 이 라벨이 붙은 Pod를 생성한다!
    spec:
      containers:
      - name: yh-ticketing
        image: 601559288376.dkr.ecr.ap-northeast-2.amazonaws.com/ticketing-api-repo:IMAGE_TAG_PLACEHOLDER
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: "DB_HOST_PLACEHOLDER"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASS
          value: "DB_PASS_PLACEHOLDER"

        - name: REDIS_HOST
          value: "ticketing-redis-service"
        - name: REDIS_PORT
          value: "6379"
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms256m -Xmx384m"
        - name: SPRING_THREADS_VIRTUAL_ENABLED
          value: "true"

        resources:
          requests:
            memory: "384Mi" 
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m" 

---
# Ticketing API Service (LoadBalancer)
# 외부 사용자가 80 포트로 접속할 수 있도록 AWS NLB를 생성
# Service : 외부 사용자가 어떻게 접속하게 할 것인가를 결정
apiVersion: v1
kind: Service
metadata:
  name: ticketing-app-service
  annotations:
    # AWS Network Load Balancer를 생성하도록 지정
    # AWS와 연동되어 실제 NLB를 자동으로 생성 => 그렇기 때문에 테라폼에서 NLB를 정의하지 않았음
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer # 외부 노출용 서비스 타입
  selector:
    app: ticketing # 위에 정의한 Deployment의 Pod들을 찾아 연결함
  ports:
  - protocol: TCP
    port: 80           # 외부 노출 포트
    targetPort: 8080    # 컨테이너 내부 포트